<!DOCTYPE html>
<html ng-app="" ng-controller="PublicNumMsgFooterController" class="um landscape min-width-240px min-width-320px min-width-480px min-width-768px min-width-1024px">
    <head>
        <title>名师公众号消息主窗口</title>
        <meta charset="utf-8">
        <meta name="viewport" content="target-densitydpi=device-dpi, width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
        <link rel="stylesheet" href="../../css/fonts/font-awesome.min.css">
        <link rel="stylesheet" href="../../css/ui-box.css">
        <link rel="stylesheet" href="../../css/ui-base.css">
        <link rel="stylesheet" href="../../css/ui-color.css">
        <link rel="stylesheet" href="../../css/appcan.icon.css">
        <link rel="stylesheet" href="../../css/appcan.control.css">
        <link rel="stylesheet" href="PublicNumMsgContent/css/main.css">
        <style>
            input{
                color: black;
                padding: 1px 6px;
                margin-left:6px;
            }
            input[type="text"]{
                padding: .2em .4em;
                margin:.4em .6em;
                font-size:1em;
            }
            input[type="button"]{
                padding: .6em .8em;
                margin:.4em .6em;
                font-size:1.2em;
            }
            .dl-con{
                 position: relative;
            }
            .dl-con dl{
                width: 96%;
                left: 2%;
                padding: 0.25em 0;
                margin: 0;
                font-size: 1em;
                background-color:#fff;
                height: auto;
                line-height: 1.5em;
            }

            /*//发送输入*/
            #input-str,.submit{
                padding: 0.825em 0.5em;
            }
            .submit{
                display: block;
                background: #FFF;
                border: none;
                margin-left: -0.5em;
            }
            .sendBox{
                border:1px solid #ccc;
                height:1.5em;
                border-radius: 0.215em;
            }
        </style>
    </head>
    <body class="um-vp " ontouchstart>
        <div id="page_0" class="up ub ub-ver bc-bg" tabindex="0">
            <!--header开始-->
            <div id="header" class="uh bc-text-head ub bc-head">
                <div class="nav-btn" id="nav-left">
                    <div class="fa fa-angle-left fa-2x"></div>
                </div>
                <h1 class="ut ub-f1 ulev-3 ut-s tx-c" tabindex="0" id = "h1"></h1>
                <div class="nav-btn nav-bt" id="nav-right">
                    <div class="ub-img icon-user umw2 umh4"></div>
                </div>
            </div>
            <!--header结束--><!--content开始-->
            <div id="content" class="ub-f1 tx-l">
            </div>
            <!--content结束-->
            <!-- footer开始 -->
            <div id="footer" class="uf t-bla ub ub-ver tab bc-text ubt bc-border index-bc c-wh">
                <div class="uf ub-ber t-bla ub footerit"  style="display:block">
                    <div id="input-str" class="tx-c bc-border uinn-footer ubr">输入</div>
                    <div class="clickedMenu ub ub-f1 ubr bc-border" ng-repeat="data in footerData" id="text" menuId ="{{data.MenuID}}">
                        <div class="ub-f1 tx-c uinn-footer">{{data.Menu}}</div>
                        <div class="sc-text" ng-if="data.subMenu!=''" style="margin-right:0.25em;">◥</div>
                    </div>
                </div>
                <!--<div class="uf ub-ber t-bla ub footerit" style="overflow:hidden">
                    <div id="input-str" class=" tx-c bc-border uinn-footer ubr">菜单</div>
                    <form action="" class="ub ub-f1" >
                        <input type="text" class="ub ub-f2 sendBox" />
                        <input type="submit" class="submit uinn-foote" value="发送" />
                    </form>
                </div>-->
            </div>
            <!-- footer结束-->
        </div>
        <script src="../../js/appcan.js"></script>
        <script src="../../js/appcan.control.js"></script>
        <script src="PublicNumMsgContent/js/main.js"></script>
        <script src="../../js/angular.min.js"></script>
        <script src="../../js/Common.js"></script>
    </body>
    <script>
        appcan.ready(function () {
            var head = appcan.locStorage.val("PublicNumName");
            $("#h1").html(head);
            var titHeight = $('#header').offset().height;
            appcan.frame.open("content", "PublicNumMsgContent.html", 0, titHeight);
            window.onorientationchange = window.onresize = function() {
                appcan.frame.resize("content", 0, titHeight);
            };

            var fotHeight = $('#footer').offset().height;
            appcan.locStorage.val("FOOTER_HEIGHT", fotHeight);

            appcan.locStorage.remove("FROM_ADD_PUBLIC_NUM_PAGE");
            appcan.window.evaluateScript({
                name: 'AddPublicNum',
                scriptContent: 'CloseWindow()',
            });
            appcan.window.evaluateScript({
                name: 'AddPublicNumDetail',
                scriptContent: 'CloseWindow()',
            });
            appcan.window.evaluateScript({
                name: 'PublicNumCenter',
                scriptContent: 'IntoPublicNum()',
            })

            //点击消息页面footer部分拉取对应信息
            appcan.button(".clickedMenu", "btn-act2", function () {
                var menuId = $(this).attr("menuId");
                appcan.frame.evaluateScript("PublicNumMsg", "content", "GetPullingData('" + menuId + "')");
            });

             var params = {
                "x": window.screen.width*0.1,
                "y": window.screen.height*0.2,
                "direction":2,
                "bgColor":'#FFC125',
                "dividerColor":'#FFC125',
                "textColor":'#000',
                "textSize":window.screen.width*0.042,
                "data":[
                    {
                        "text":'Group Chat'
                    },
                    {
                        "text":'Add Contacts'
                    },
                    {
                        "text":'Scan QR code'
                        },
                    {
                        "text":'Feedback'
                    }
                    ]
                }
            
            var params = appcan.locStorage.setVal('params',params);
            



            //openChatKeyboard();
            uexWidgetOne.cbError = function(opid,type,data){
                alert(data);
            }
            uexChatKeyboard.onCommit = function(json){
                alert("onCommit"+json);
            }
            uexChatKeyboard.onShareMenuItem = function(json){
                alert("onShareMenuItem"+json);
            }
            uexChatKeyboard.onVoiceAction = function(json){
            }

            $('#input-str').click(function(){
                if(uexPopoverMenu){
                    alert(1);
                }else{
                    alert(2);
                }
              var params = appcan.locStorage.val('params');
              uexPopoverMenu.openPopoverMenu(params);
            })
        });


        //绑定footer的数据
        function PublicNumMsgFooterController($scope) {
            var bindData = GetFooterData();
            $scope.footerData = bindData.PageFooter;
        }

        function openChatKeyboard(){
            var jsonstr ={
                "emojicons":"res://emojicons/emojicons.xml",
                "shares":"res://shares/shares.xml",
                "placeHold":"请输入内容",
                "touchDownImg":"res://3.png",
                "dragOutsideImg":"res://4.png",
                "textColor":"#FFF",
                "textSize":"15.5",
                "bottom":"100"
            };
            jsonstr = JSON.stringify(jsonstr);
            uexChatKeyboard.open(jsonstr);
        }

        function closeChatKeyboard(){
            uexChatKeyboard.close();
        }

        appcan.button("#nav-left", "btn-act", function () {
            appcan.window.close(-1);
        });

        appcan.button("#nav-right", "btn-act", function () {
            appcan.window.open("PublicNumCenter", "PublicNumCenter.html", 2);
        });

        //获取菜单数据
        function GetFooterData() {
            //该变量用于判断是从TeacherPublicNumContent.html或是AddPublicNumDetailContent.html进入当前页
            var dataSource = appcan.locStorage.val("DataSource");
            var PublicNumID = appcan.locStorage.val("PublicNumID");
            var PublicNumContactData = "";
            if (dataSource == "AddPublicNumDetail") {
                PublicNumContactData = JSON.parse(appcan.locStorage.val("ADD_PUBLIC_NUM_DATA"));
            } else if (dataSource == "TeacherPublicNum") {
                PublicNumContactData = JSON.parse(appcan.locStorage.val("PUBLIC_NUM_CONTACT_DATA"));
            }
            appcan.locStorage.remove("DataSource");
            for (var i in PublicNumContactData) {
                if (PublicNumContactData[i].ID == PublicNumID){
                    return PublicNumContactData[i];
                }
            }
        }
    </script>
</html>