<!DOCTYPE html>
<html ng-app ng-controller="DetailLargeWageDataController" class="um landscape min-width-240px min-width-320px min-width-480px min-width-768px min-width-1024px">
<head>
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="target-densitydpi=device-dpi, width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="../../css/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="../../css/ui-box.css">
    <link rel="stylesheet" href="../../css/ui-base.css">
    <link rel="stylesheet" href="../../css/ui-color.css">
    <link rel="stylesheet" href="../../css/appcan.icon.css">
    <link rel="stylesheet" href="../../css/appcan.control.css">
    <link rel="stylesheet" href="DetailPayrollContent/css/main.css">
</head>
<body class="um-vp bc-bg" ontouchstart>
    <div id="divLoading" class="ub-f1">
        <div class="loading">
            <span class="fa fa-spinner fa-pulse"></span>&nbsp;正在加载中，请稍后...
        </div>
    </div>
    <div id="divContent" style="display:none">
        <!-- 大工资-->
        <table border="2" class="PayRoll"  style="border-collapse:collapse; margin:.5em .5em.5em.5em; ">
            <tr class="PayRoll-head" >
                <td  ng-repeat="data in DetailPayroll_LargeWage[0].Payroll" align="center">
                    <div style="margin: 0.3em;">{{data.Name}}</div>
                </td>
            </tr>
            <tr class="PayRoll-even" ng-repeat="Data in DetailPayroll_LargeWage">
                <td ng-repeat="data in Data.Payroll" align="center">
                    <div style="margin: 0.3em;">{{data.Items}}</div>
                </td>
            </tr>
        </table>
        <!--小工资-->
        <table border="2" class="PayRoll"  ng-controller="DetailSmallWageDataController"  style="border-collapse:collapse; margin:.5em .5em.5em.5em; ">
            <tr class="PayRoll-head" >
                <td  ng-repeat="data in DetailPayroll_SmallWage[0].Payroll" align="center">
                    <div style="margin: 0.3em;">{{data.Name}}</div>
                </td>
            </tr>
            <tr class="PayRoll-even" ng-repeat="Data in DetailPayroll_SmallWage">
                <td ng-repeat="data in Data.Payroll" align="center">
                    <div style="margin: 0.3em;">{{data.Items}}</div>
                </td>
            </tr>
        </table>
        <br/>
    </div>
</body>
<script src="../../js/appcan.js"></script>
<script src="../../js/appcan.control.js"></script>
<script src="../../js/angular.min.js"></script>
<script src="../../js/Common.js"></script>
</body>
<script>
    appcan.ready(function () {
        $("#divLoading").hide();
        $("#divContent").show();
    });

    function DetailLargeWageDataController($scope){
         var isSuccess = 0;
         var Token = appcan.getLocVal("Token");
         var apiConfig = JSON.parse(appcan.getLocVal("ApiConfig"));
         var Type = apiConfig.GetLargeWage.Type;
         var Url = apiConfig.GetLargeWage.Url;
         var parameters = {"token": Token};
         var url = GetMappingUrl(Url, parameters);
         $.ajax({
             url: url,
             type: Type,
             data: parameters,
             dataType: "json",
             success: function (data) {
                 isSuccess = 1;
                 $scope.DetailPayroll_LargeWage = data;
                 $scope.$apply();
                 appcan.locStorage.setVal("DetailPayroll_LargeWage", data);
                 if (appcan.locStorage.val("DetailPayroll_LargeWage") == "[]") {
                     $scope.NoData = 1;
                     $scope.$apply();
                 }
             },
             complete: function () {
                 if (isSuccess == 0) {
                     appcan.ready(function () {
                         appcan.window.openToast({
                             msg: '加载最新数据失败',
                             duration: '2000',
                             position: '5',
                             type: '0'
                         });
                     });
                 }
             }
         });
    }

    function DetailSmallWageDataController($scope){
        var isSuccess = 0;
        var Token = appcan.getLocVal("Token");
        var apiConfig = JSON.parse(appcan.getLocVal("ApiConfig"));
        var Type = apiConfig.GetSmallWage.Type;
        var Url = apiConfig.GetSmallWage.Url;
        var parameters = {"token": Token};
        var url = GetMappingUrl(Url, parameters);
        $.ajax({
            url: url,
            type: Type,
            data: parameters,
            dataType: "json",
            success: function (data) {
                isSuccess = 1;
                $scope.DetailPayroll_SmallWage = data;
                $scope.$apply();
                appcan.locStorage.setVal("DetailPayroll_SmallWage", data);
                if (appcan.locStorage.val("DetailPayroll_SmallWage") == "[]") {
                    $scope.NoData = 1;
                    $scope.$apply();
                }
            },
            complete: function () {
                if (isSuccess == 0) {
                    appcan.ready(function () {
                        appcan.window.openToast({
                            msg: '加载最新数据失败',
                            duration: '2000',
                            position: '5',
                            type: '0'
                        });
                    });
                }
            }
        });
    }
</script>
</html>
