<!DOCTYPE html>
<html ng-app ng-controller="singleContactController" class="um landscape min-width-240px min-width-320px min-width-480px min-width-768px min-width-1024px">
<head>
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="target-densitydpi=device-dpi, width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="../css/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="../css/ui-box.css">
    <link rel="stylesheet" href="../css/ui-base.css">
    <link rel="stylesheet" href="../css/ui-color.css">
    <link rel="stylesheet" href="../css/appcan.icon.css">
    <link rel="stylesheet" href="../css/appcan.control.css">
    <link rel="stylesheet" href="SingleContactContent/css/main.css">
</head>
<body class="um-vp bc-bg" ontouchstart>
    <!--<div class="addFriendInfor"></div>-->
    <div class="ub ub-ver">
        <div class="ub-img1 perBg uh-per1 ub-fh ub ub-ver">
            <div class="uinn-a1 ub ub-f1">
                <div class="uwh-per2 uc-a-per1 bc-bg ub ub-ac ub-pc uinn-a16">
                    <div class="ub-fh ub-fv  ub-img uc-a-per2" style="background-image:url(SingleContactContent/css/myImg/NoContactIcon.png);" ng-if="SingleContactInformation.ProtraitUri==null||SingleContactInformation.ProtraitUri==''"></div>
                    <div class="ub-fh ub-fv  ub-img uc-a-per2" style="background-image:url('{{SingleContactInformation.ProtraitUri}}');" ng-if="SingleContactInformation.ProtraitUri!=null&&SingleContactInformation.ProtraitUri!=''"></div>
                </div>
                <div class="ub-f1 umar-at1 umar-l-per1 ub ub-ver">
                    <div class="ub ">
                        <div class="umar-ar3 bc-text-head" id="contactName" ng-bind="SingleContactInformation.Name"></div>
                    </div>
                    <!-- <div class="ulev-4 t-wh2 umar-t ub-f1" id="contactUName" ng-bind="SingleContactInformation.UName"></div> -->
                </div>
            </div>
        </div>
        <div class="ub-f1 ub ub-ver">
            <div id="listview1" class="ubt bc-border ubb c-wh umar-at1 uinn-a7">
                <ul class="uinn-a7">
                    <li class="ubb ub bc-border bc-text ub-ac lis">
                        <div class="lv_title ub-f1 marg-l ub ub-ver ut-m line1 groupName">
                            <span>电话:</span>
                            <span id="phoneNum" ng-bind="SingleContactInformation.Mobile" ng-if="SingleContactInformation.Mobile!=null&&SingleContactInformation.Mobile!=''"></span>
                            <span ng-if="SingleContactInformation.Mobile==null||SingleContactInformation.Mobile==''">-</span>
                        </div>
                    </li>
                    <!-- <li class="ubb ub bc-border bc-text ub-ac lis">
                        <div class="lv_title ub-f1 marg-l ub ub-ver ut-m line1 groupName">
                            <span>邮箱:</span>
                            <span id="email" ng-bind="SingleContactInformation.Email" ng-if="SingleContactInformation.Email!=''&&SingleContactInformation.Email!=null"></span>
                            <span ng-if="SingleContactInformation.Email==''||SingleContactInformation.Email==null">-</span>
                        </div>
                    </li> -->
                    <li class="ub bc-border bc-text ub-ac lis">
                        <div class="lv_title ub-f1 marg-l ub ub-ver ut-m line1 groupName">
                            <span>班级:</span>
                            <span id="class" ng-bind="SingleContactInformation.Department" ng-if="SingleContactInformation.Department!=''&&SingleContactInformation.Department!=null"></span>
                            <span ng-if="SingleContactInformation.Department==''||SingleContactInformation.Department==null">-</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class = "uinn umar-t">
            <div class="uinn">
                <div class="btn ub ub-ac ub-pc c-wh uc-a1" id="btnCall">
                    电话
                </div>
            </div>
            <div class="uinn">
                <div class="btn ub ub-ac ub-pc c-wh uc-a1" id="btnMsg">
                    短信
                </div>
            </div>
            <div class=" uinn">
                <div class="btn ub ub-ac bc-text-head ub-pc bc-btn uc-a1 " id="btnAddFriend">
                    加为好友
                </div>
            </div>
        </div>
    </div>
    <script src="../js/appcan.js"></script>
    <script src="../js/appcan.control.js"></script>
    <script src="../js/appcan.listview.js"></script>
    <script src="../js/Common.js"></script>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/angular.min.js"></script>
</body>
<script>
    appcan.ready(function () {
        ClickEvent();
    })

    function singleContactController($scope) {
        var contactID = appcan.locStorage.val("contactID");
        $.when(SearchContactData (contactID)).done(function(data){
            var ContactInformation = data.Result;
            appcan.locStorage.setVal("ContactInformation", ContactInformation);
            $scope.SingleContactInformation = ContactInformation;
            $scope.$apply();
            var name =  ContactInformation.Name;
            var userName = ContactInformation.UserName;
            appcan.locStorage.setVal("Name", name);
            appcan.locStorage.setVal("UserName", userName);
            //ClickEvent ();
        });
    }

    function SearchContactData (userId) {
        var token = appcan.locStorage.val("Token");
        var apiConfig = JSON.parse(appcan.getLocVal("ApiConfig"));
        var Url = apiConfig.GetContactInfo.Url;
        var Type = apiConfig.GetContactInfo.Type;
        var parameters = {"userId": userId};
        var url = GetMappingUrl(Url, parameters);
        var isSuccess = 0;
        var defer = $.Deferred();
        $.ajax({
            url: url,
            type: Type,
            dataType: "json",
            contentType: "application/json; charset = utf-8",
            success: function (data) {
                isSuccess = 1;
                defer.resolve(data);
            },
            complete: function () {
                if (isSuccess == 0) {
                    appcan.window.openToast("Error!", 2000);
                }
            }
        });
        return defer.promise();
    }


    function ClickEvent(){
        var ContactInformation = JSON.parse(appcan.locStorage.val("ContactInformation"));
        var Mobile = ContactInformation.Mobile;
        var userName = ContactInformation.UserName;
        appcan.button(".btn", "ani-act", function(){
            var btn_id = $(this).attr("id");
            switch (btn_id) {
                case 'btnCall':
                    if (Mobile == null || Mobile == '') {
                        appcan.window.openToast("电话号码为空！", 2000);
                    } else {
                        uexCall.dial(Mobile);
                    }
                    break;
                case "btnMsg":
                    if (Mobile == null || Mobile == '') {
                        appcan.window.openToast("电话号码为空！", 2000);
                    } else {
                        var content = "";
                        uexSMS.open(Mobile, content);
                    }
                    break;
                case "btnAddFriend":
                    var isFriend = 0;
                    var contacts = JSON.parse(appcan.locStorage.val("AllContacts"));
                    var myId = appcan.locStorage.val("MyUserID");
                    for(var i in contacts){
                        if(contacts[i].UserName == userName && userName != myId){
                            appcan.window.openToast(" 你们已经是好友关系，不能重复添加。", 3000);
                            isFriend = 1;
                        }
                    }
                    if( isFriend == 0){
                        if(userName == appcan.locStorage.val("MyUserID")){
                            appcan.window.openToast(" 该用户是您自己，不需要添加。", 3000);
                        }else{
                            uexEasemob.addContact('{"toAddUsername":"'+ userName +'","reason":""}');
                            appcan.window.openToast(" 好友请求已发送. ", 3000);
                        }
                    }
                    break;
            }
        });
    }
</script>
</html>