.umar-rl {
    margin-left: 1em;
    margin-right: 1em;
    margin-top: .25em;
}
.bc-color{
    background-color: #E1E1E1;
    border-color: #ADADAD;
}
.diyfont{
    font-weight: bold; 
}
.diyumar-t{
     margin-top: .25em;
}
.diyuinn {
    padding: 0.7em;
    margin: 0;
}


