/*.backpicture{
	background-image:url('myImg/backpicture.png');
}*/
.t-gra
{
	color:gray;
}
.t-bg{
	color:#434343;
}
.ulh-a{
	line-height:1.4em;
}
.newspic{
    width: 100%;
    height: 12em;
}
.uamr-t1{
    margin-top:1em;
}