.b-gra{
    border-color:#b7b7b7;
}
.t-gra1{
    color:#787878;
}
.umwh{
    min-width:0.6em;
    min-height:1em;
}
.c-orange{
    background-color:#FF8C00;
}
.c-green{
    background-color:#5e9e25;
}
.c-red-oa{
    background-color:#cf3a3a;
}
.c-blue{
    background-color:#00A1EA;
}
.uc-a-list1{
    -webkit-border-radius: 0.2em;
    border-radius: 0.2em
}
.font-color{
    color: #A9A9A9
}
.lt-margin{
    margin-left: 5em;
    margin-top: 0.5em;
}
.title-size{
    font-size: 90%;
    margin-bottom: 0.8em;
}

