<!DOCTYPE html>
<html ng-app ng-controller="KqqkController" class="um landscape min-width-240px min-width-320px min-width-480px min-width-768px min-width-1024px">
<head>
    <title>考勤情况教师浮动窗口，获取考勤情况列表</title>
    <meta charset="utf-8">
    <meta name="viewport" content="target-densitydpi=device-dpi, width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="../css/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="../css/ui-box.css">
    <link rel="stylesheet" href="../css/ui-base.css">
    <link rel="stylesheet" href="../css/ui-color.css">
    <link rel="stylesheet" href="../css/appcan.icon.css">
    <link rel="stylesheet" href="../css/appcan.control.css">
    <link rel="stylesheet" href="AttendanceContent/css/main.css">
</head>
<body class="um-vp bc-bg bdMarg">
    <div id="divLoading" class="ub-f1">
        <div class="loading">
            <span class="fa fa-spinner fa-pulse"></span>&nbsp;正在加载中，请稍后...
        </div>
    </div>
    <br />
    <div id="divContent" style="display:none; padding:0.0625em 0;">
        <div class="bc-bg" ng-if="NoData==1">
            <div class="NoDataImg_box ">
                <div class="NoDataImg_bg"></div>
            </div>
            <div class="NoData_box NoData_color">抱歉，暂时没有您要查看的数据！</div>
        </div>
        <div class="dUnit ub ub-ver" ng-repeat="Data in KqqkData | orderBy:'AttDate'" ng-if="NoData!=1">
            <div class="divCld-date">{{Data.AttDate}}</div>
            <div class="divCld-item ub" ng-repeat="data in Data.AttData ">
                <div class="divLeft ub ub-ac ub-pe ub-f1">
                    <div><span>{{data.StudentName}}</span><span>●</span></div>
                </div>
                <div class="divRight ub ub-ac ub-f1" ng-if="data.Type == '迟到'">
                    <div class="tx-c uc-a1 ">应到{{data.ReferenceInTime}}，实到{{data.InTime}}</div>
                </div>
                <div class="divRight ub ub-ac ub-f1" ng-if="data.Type == '早退'">
                    <div class="tx-c uc-a1">应退{{data.ReferenceOutTime}}，实退{{data.OutTime}}</div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <script src="../js/appcan.js"></script>
    <script src="../js/appcan.control.js"></script>
    <script src="../js/angular.min.js"></script>
    <script src="../js/Common.js"></script>
</body>
<script>
    appcan.ready(function () {
        $("#divLoading").hide();
        $("#divContent").show();
    });

    function KqqkController($scope) {
        var isSuccess = 0;
        var Token = appcan.getLocVal("Token");
        var apiConfig = JSON.parse(appcan.getLocVal("ApiConfig"));
        var Type = apiConfig.GetAttendancetch.Type;
        var Url = apiConfig.GetAttendancetch.Url;
        var parameters = { "token": Token };
        var url = GetMappingUrl(Url, parameters);
        $.ajax({
            url: url,
            type: Type,
            data: parameters,
            dataType: "json",
            success: function (data) {
                isSuccess = 1;
                $scope.KqqkData = data;
                $scope.$apply();
                appcan.locStorage.val("KqqkData", data);
                if (appcan.locStorage.val("KqqkData") == "[]") {
                    $scope.NoData = 1;
                    $scope.$apply();
                }
            },
            complete: function () {
                if (isSuccess == 0) {
                    var LatestTopOneAttendanceData = appcan.locStorage.val("KqqkData");
                    var LatestTopOneAttendance = JSON.parse(LatestTopOneAttendanceData);
                    $scope.KqqkData = LatestTopOneAttendance;
                    $scope.$apply();
                    appcan.ready(function () {
                        appcan.window.openToast({
                            msg: '加载最新数据失败',
                            duration: '2000',
                            position: '5',
                            type: '0'
                        });
                    });
                }
            }
        });
    }
</script>
</html>
